
@import "variable";
a {text-decoration: none;}
body {margin: 0;}

.tabs {
  list-style: none;
  li {
    border-radius: 10px 10px 0 0;
    border: 1px solid $gray-900;
    border-bottom: 0;
    background: $gray-900;
    a {color: $white;display: block;}
    &.active {
      background: $white;
      a {color: $gray-900; }
    }
  }
}
.bold {font-weight: bold;}

.tab-content {
  margin-top: -1px;
  border: 1px solid $gray-900;
  ul {
    list-style: none;
  }
}
